/* Phần chung */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

/* Phần button, select */
button, select {
    padding: 10px 40px;
    font-family: 'Quicksand', sans-serif;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    border-radius: 30px;
    background-color: #e9063c;
}

select {
    appearance: none;
    padding-right: 50px;
    font-size: 22px;
    border-radius: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.btn:hover {
    background-color: #c80533;
}

/* Hiệu ứng hoa giấy */
.confetti {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
}

/* Phần Header */
.header {
    background-color: #b21c25;
    padding: 10px 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 80px;
    height: 70px;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

/* Phần main */
main {
    background-image: url("../img/hinhnen.jpg");
    position: relative;
    background-position: 0px 0px;
    height: 652px;
    background-size: 1956px 652px;
}

.race-start-img {
    position: absolute;
    height: 505px;
    left: 354px;
    top: 10px;
}

.race-end-img {
    position: absolute;
    height: 505px;
    left: 1600px;
    top: 10px;
}

.race-winner-img {
    display: none;
    position: absolute;
    width: 649px;
    left: 20px;
    top: 198.478px;
    z-index: 111;
}

.winner-display {
    width: 300px;
    height: 148.858px;
    left: 200px;
    top: 335px;
    position: absolute;
    z-index: 112;
    font-size: 40px;
    line-height: 148.858px;
    text-align: center;
    color: rgb(232, 6, 60);
    font-weight: 700;
}

.winner {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
}

.name {
    color: #fff;
    position: absolute;
    padding: 0 5px;
    border-radius: 10px;
    background-color: #0dcaf0;
    font-size: 22px;

    left: calc(170px - 0px);

    line-height: 1.4;
    word-wrap: break-word;
    white-space: normal;
    z-index: 100;
}

.avatar {
    position: absolute;
    left: 254px;
    transform: scaleX(-1);
    width: 100px;
    height: 100px;
    object-fit: cover;
    z-index: 101;
}

/* Phần Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-title {
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-transform: capitalize;
    color: #fff;
    background-color: #e9063c;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    position: relative;
    top: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.player-list {
    font-size: 25px;
    font-weight: 700;
    height: 350px;
    margin-bottom: .5rem;
    padding: 16px 45px 17px 30px;
    min-height: 150px;
    border-radius: 16px;
    border: 1px solid #E0E0E0;
    color: #444444;
    width: 100%;
}

.modal-buttons {
    text-align: right;
}

.save, .cancel {
    font-size: 16px;
    font-weight: 600;
    padding: 20px 40px;
}

.cancel {
    border: 2px solid #e9063c;
    color: #e9063c;
    background-color: #fff;
}

/* Hiệu ứng xuất hiện */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Hiệu ứng di chuyển */
@keyframes moveAvatar {
    from {
        left: 254px;
    } to {
        left: 1340px;
    }
}

@keyframes moveName {
    from {
        left: 40px;
    } to {
        left: 1200px;
    }
}

.moveAvatar {
    animation: moveAvatar 5s linear forwards;
}

.moveName {
    animation: moveName 5s linear forwards;
}

/* Hiệu ứng di chuyển vạch bắt đầu */
@keyframes moveStartingLine {
    from {
        /* left: 266px; */
        left: 354px;
    } to {
        left: -40px;
    }
}

.moveStartingLine {
    animation: moveStartingLine 5s linear forwards;
}

/* Hiệu ứng di chuyển vạch đích */
@keyframes moveFinishLine {
    from {
        left: 1688px;
    } to {
        left: 1300px;
    }
}

.moveFinishLine {
    animation: moveFinishLine 9s linear forwards;
}

/* Hiệu ứng di chuyển hình nền */
@keyframes moveBackground {
    from {
        background-position: 0px 0px;
    } to {
        background-position: -600px 0;
    }
}

.main-move {
    animation: moveBackground 10s linear forwards;
}

.bus-avatar {
    width: 85px;
    height: 85px;
    left: 254px;
}

.bus-name {
    margin-left: 30px;
}